body {
  background: url("../images/gazebo.jpg") no-repeat;
  background-size: cover;

}
header {
  font-family: monaco;
  font-size: 60px;
  text-align: center;
  color: #7FB3D5;
  }
table {
  border-radius: 10px;
}
button {
  background: #7FB3D5;
  color:#154360;
  height: 50px;
  width: 100px;
  font-size: 15px;
  font-family: monaco;
  border-radius: 10px;
}

.board {
  width: 550px;
  height: 550px;
  margin: 0 auto;

  border-spacing: 5px;
}

.board td {
  position: relative;
  border: 5px solid #154360;
  border-radius: 10px;
  border-spacing: 20px;
  background-color: #7FB3D5;
  opacity: 0.65;
}

.clicks {
  background: #7FB3D5;
}

.emily {
  background-image: url(../images/emily.jpg);
}
.jess {
  background-image: url(../images/jess.jpg);
}
.lorelai {
  background-image: url("../images/lorelai.jpg");
}
.richard {
  background-image: url("../images/richard.jpg");
}
.rory {
  background-image: url("../images/rory.jpg");
}
.sookie {
  background-image: url("../images/sookie.jpg");
}

.board td.opaque {
  opacity: 1.0;
}

